# Blacklist everything
*
# Whitelist bashrc module directory and all its contents
!.bashrc.d/
!.bashrc.d/*
# Whitelist only wanted files
!.gitignore
!.bashrc
!.bash_profile
!.inputrc
# Custom libraries
!lib/
!lib/pathtools
# Custom scripts
!Scripts/
!Scripts/pull-configs
!Scripts/push-configs

